@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,500&family=Lexend+Exa:wght@500&family=Poppins:ital,wght@0,300;0,500;0,600;1,300&display=swap');

// General starts
html, body {
	background-color: gray;
	color: white;
}

.layout {
	width: 100vw;
	max-width: 1280px;
	margin: auto;
}

// font
h1, h2 {
	font-family: 'Bodoni Moda', serif;
	font-weight: 500;
}

span, header li, .about-section li {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
}

h3, .about-section p {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
}

h4 {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
}

.work-section span {
	font-family: 'Lexend Exa', sans-serif;
	font-weight: 500;
}
// font

// General ends

// Nav bar starts
header {
	max-width: 1280px;
	nav {
		.icon {
			width: 36px;
			height: 36px;
		}
	}
}
// Nav bar ends

// Main starts
.hero-section {
	button {
		z-index: 1;
		&::after {
			content: "";
			transition: all .2s ease-in-out;
			position: absolute;
			top: 7px;
			left: 5px;
			background-color: #eeee44;
			width: 100%;
			height: 70%;
			z-index: -1;
			
		}
		&:hover::after {
			top: 4px;
			left: 0;
		}
	}
}
// Main ends

// Work page
.work-section {
	.work-card, .work-card-bg {
		height: 0;
		padding-bottom: 100%;
	}

	.work-card-bg {
		transition: all .25s ease;
		
	}

	.work-card {
		span {
			opacity: 0;
			&.active {
				opacity: 1;
			}
			&.effect {
				transition: opacity .4s ease;
				&:nth-child(even) {
					transition-delay: .2s;
				}
				&:nth-child(odd) {
					transition-delay: .3s;
				}
			}
		}
	}

}
// Work ends